.main-container {
  width: 100%;
  .main {
    margin: 0 auto;
    width: 95%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2%;
    .ui.card:first-child {
      margin-top: 1em;
    }
    .ui.card:last-child {
      margin-bottom: 1em;
    }
  }
}
