@use 'src/styles/variables' as v;

.header {
  .logo {
    margin: 1em 0;
    width: 12em;
  }
  .form {
    background-color: #fff;
    margin: 0 auto;
    padding: 1em;
    width: 95%;
    border: 1px solid v.$secondary-color;
    .input {
      width: 100%;
    }
  }
}
